<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="container text-center">
    <h1>Welcome to Our Jokes App</h1>
    <p class="lead">
      Looking for a quick laugh? You've come to the right place! On our API Data page, we fetch random jokes from a public API and display them for your enjoyment.
    </p>
    <p>
      Our app uses Angular's powerful features to fetch and display jokes dynamically. Each time you visit the API Data page, you'll get a fresh set of jokes to brighten your day.
    </p>
    <p>
      Click the button below to check out the random jokes we've gathered for you.
    </p>
    <a routerLink="/api-data" class="btn btn-primary btn-lg">Go to Random Jokes</a>
  </div>
</div>
